.calculator {
  position: relative;
  left: 37%;
  display: grid;
  width: 25%;
  justify-content: center;
  grid-template-columns: 25vw;
  grid-template-rows: repeat(6, 5vh);
}

.row {
  display: flex;
}

.item {
  width: 6.25vw;
}

#button-zero {
  width: 12.5vw;
}
