form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#function-button {
  width: 35%;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#function-input {
  width: 75%;
  padding: 2%;
  margin-top: 2vh;
  text-align: left;
}
